ensemble: nvt-nh
struct: "tests/data/NaCl.cif"
steps: 100
timestep: 0.1
temp: 100
thermostat_time: 50
ensemble_kwargs:
  mask: (1, 1, 1)
arch: mace_mp
device: cpu
model_path: "tests/models/mace_mp_small.model"
read_kwargs:
  index: "0"
calc_kwargs:
  dispersion: True
equil_steps: 100
minimize: True
minimize_every: 50
minimize_kwargs:
  opt_kwargs:
    maxstep: 0.1
rescale_velocities: True
remove_rot: True
rescale_every: 50
file_prefix: nvt-nh
restart: False
restart_auto: True
restart_stem: nvt-nh-restart
restart_every: 1000
rotate_restart: True
restarts_to_keep: 2
final_file: nvt-nh-final.extxyz
stats_file: nvt-nh-stats.dat
stats_every: 100
traj_file: nvt-nh-traj.extxyz
traj_append: False
traj_start: 1000
traj_every: 100
temp_start: 0
temp_end: 100
temp_step: 10
temp_time: 1
write_kwargs:
  invalidate_calc: True
post_process_kwargs: None
seed: 1000
log: nvt-nh-log.yml
summary: nvt-nh-summary.yml